<body>
    <br />
    @Session["UserError"]
    <form action="~/Home/Login" method="post">

        <div class="form-group">
            <label for="UserName">Username</label><br />
            <input type="text" name="UserName" class="form-control" id="UserName" placeholder="Enter Username" required />
        </div>
        <fieldset class="form-group">
            <label for="Password">Password</label><br />
            <input type="password" name="Password" class="form-control" id="Password"
                   placeholder="Enter Password"
                   pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}+$"
                   aria-describedby="passwordHelp"
                   required />
        </fieldset>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</body>